<template>
    <div class="dropdown language-select">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            <img :src="'images/'+getLang()+'.png'" width="45">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <template v-for="lang in languages" :key="lang+'-lang'">
                <li class="mt-2 language-select-option-hover" @click="setLang(lang)">
                    <img :src="`images/${lang}.png`" width="45">
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
    name: "LanguageSelector",
    methods: {
        setLang(lang) {
            localStorage.setItem('language', lang)
            axios.defaults.headers.common['Accept-Language'] = lang;
            location.reload();
        },
        getLang() {
            return localStorage.getItem('language')
        }
    },
    computed: {
        ...mapState(['languages']),
    },
}
</script>

<style scoped>
.language-select > .btn:focus {
    box-shadow: none !important;
}
.language-select > .dropdown-menu.show {
    min-width: 93px;
    border: 0;
    left: -12px;
    text-align: center;
}
.language-select-option-hover:hover {
    cursor: pointer;
}

@media all and (min-width: 769px) {
    .language-select > .btn,
    .language-select > .dropdown-menu.show {
        background:transparent;
    }
}
</style>
