<template>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle p-0" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-bounding-box" style="font-size: 23px;"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li class="hover-option" @click="">
                <span class="pa">{{ $t('navigation.profile') }}</span>
            </li>
            <li class="hover-option" @click="logout()">
                <span class="ml-2">{{ $t('navigation.logout') }}</span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "UserNav",
    methods: {
        logout() {
            axios.post('/logout')
            .then(response => {
                localStorage.removeItem('access_token')
                window.location.href = '/';
            })
            .catch()
            .finally();
        }
    }
}
</script>

<style scoped>
.hover-option:hover {
    cursor: pointer;
    background: #cbd5e0;
}
</style>
