<template>
    <div class="row m-0">
        <div class="col-lg-6" style="background: white;">
            <vue-cal
                ref="vuecal"
                :events="events"
                hide-view-selector
                style="width: 100%;height: 500px"
                :time-from="8 * 60"
                :time-to="20 * 60"
                :locale="getLang()"
                active-view="day"
            />
        </div>
        <div class="col-lg-6">
<!--            <button @click="customEventCreation">-->
<!--                Create event-->
<!--            </button>-->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                {{ $t('calendar.add_event') }}
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ $t('calendar.add_event') }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ $t('close') }}</button>
                        <button type="button" class="btn btn-primary" @click="customEventCreation">{{ $t('save') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import 'vue-cal/dist/vuecal.css'
    import VueCal from 'vue-cal'
    export default {
        name: "Home",
        components: {
            VueCal
        },
        data() {
            return {
                events: []
            }
        },
        methods: {
            getLang() {
                return localStorage.getItem('language')
            },
            customEventCreation () {
                let today = new Date();
                let dd = String(today.getDate()).padStart(2, '0');
                let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                let yyyy = today.getFullYear();

                today = yyyy+'-'+mm+'-'+dd;

                this.events.push({
                    start: today +' 13:15',
                    end: today +' 13:45',
                    title: 'A new event',
                    content: '<i class="v-icon material-icons">local_hospital</i>',
                    class: 'blue-event'
                });
                // const dateTime = prompt('Create event on (YYYY-MM-DD HH:mm)', '2022-05-31 13:15')
                //
                // // Check if date format is correct before creating event.
                // if (/^\d{4}-\d{2}-\d{2} \d{2}:\d{2}$/.test(dateTime)) {
                //     this.$refs.vuecal.createEvent(
                //         // Formatted start date and time or JavaScript Date object.
                //         dateTime,
                //         // Event duration in minutes (Integer).
                //         120,
                //         // Custom event props (optional).
                //         { title: 'New Event', content: 'yay! 🎉', class: 'blue-event' }
                //     )
                // } else if (dateTime) alert('Wrong date format.')
            }
        },
    };
</script>
<style scoped>
.vuecal > .blue-event {
    background: blue;
}
</style>
