<template>
    <div class="login-page">
        <div class="col d-flex justify-content-center mb-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/800px-Google_2015_logo.svg.png" width="300">
        </div>
        <form novalidate>
            <div class="col-md-12">
                <label for="email" class="form-label">{{ $t('login.username') }}</label>
                <div class="input-group has-validation">
                    <input
                        v-model="username"
                        :class="errors.email ? 'is-invalid' : ''"
                        type="text" class="form-control" id="email" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback" v-if="errors.email">
                        <template v-for="(error, index) in errors.email" :key="'username-'+index">
                            {{ $t(error) }}
                        </template>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="password" class="form-label">{{ $t('login.password') }}</label>
                <div class="input-group has-validation">
                    <input
                        v-model="password"
                        :class="errors.password ? 'is-invalid' : ''" type="text" class="form-control" id="password" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback" v-if="errors.password">
                        <template v-for="(error, index) in errors.password" :key="'username-'+index">
                            {{ $t(error) }}
                        </template>
                    </div>
                </div>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">{{ $t('login.forgotten_password') }}?</a>
                </div>
            </div>

            <!-- Submit button -->
            <button type="button" class="btn btn-primary btn-block mb-4" @click="login">{{ $t('login.login') }}</button>

        </form>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                username: '',
                password: '',
                errors: {}
            }
        },
        methods: {
            login() {
                axios.post('login', { email: this.username, password: this.password })
                    .then(function (response) {
                        localStorage.setItem('access_token', response.data.data.access_token);
                        window.location.href = "/"
                    }).catch( (reason) => {
                        let response = reason.response.data
                        this.$toast.error(this.$t(response.message));
                        this.errors = response.errors
                    }).finally(function () {
                    });
            }
        }
    };
</script>

<style scoped>
</style>
