<template>
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img height="30" src="https://vetsmart.rs/wp-content/uploads/2021/12/VetSmart-logotip-final-1.svg">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">{{ $t('navigation.home') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                    <template class="d-flex">
                        <LanguageSelector></LanguageSelector>
                    </template>
                </div>
            </div>
        </nav>
        </div>
    </div>
</template>

<script>
    import LanguageSelector from '../components/LanguageSelector'
    export default {
        name: "NavBar",
        components: { LanguageSelector }
    };
</script>
<style scoped>
.navbar-wrapper {
    background: #f8f9fa;
}
@media all and (min-width: 769px){
    .navbar {
        background: transparent !important;
    }
}
</style>
