<template>
    <div class="notFound">
        <h1>Page Not Found</h1>
        <p>
            Oops we couldn't find that page. Try going
<!--            <router-link :to="{ name: 'home' }">home</router-link>-->
        </p>
    </div>
</template>

<script>
export default {
    name: "NotFound",
};
</script>

<style scoped>
    .notFound {
        margin: auto;
        width: 330px;
        padding: 10px;
        text-align: center;
        margin-top: 200px;
    }
</style>
