<template>
    <div class="col-auto px-0">
        <div id="sidebar" class="collapse collapse-horizontal show border-end">
            <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                <router-link
                    to="/"
                    class="list-group-item border-end-0 d-inline-block text-truncate"
                    data-bs-parent="#sidebar"
                >
                    <img height="30" src="https://vetsmart.rs/wp-content/uploads/2021/12/VetSmart-logotip-final-1.svg">
                </router-link>
                <router-link
                    to="/"
                    class="list-group-item border-end-0 d-inline-block text-truncate text-center"
                    data-bs-parent="#sidebar"
                >
                    <i class="bi bi-house-fill"></i>
                    <br/>
                    <span>{{ $t('navigation.home') }}</span>
                </router-link>
                <router-link
                    to="/"
                    class="list-group-item border-end-0 d-inline-block text-truncate text-center"
                    data-bs-parent="#sidebar"
                >
                    <i class="bi bi-gear"></i>
                    <br/>
                    <span>{{ $t('navigation.settings') }}</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import LanguageSelector from "../components/LanguageSelector";
    export default {
        name: 'Sidebar',
        components: { LanguageSelector},
    }
</script>
