<template>
    <div class="d-flex justify-content-between">
        <div class="">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i></a>
        </div>
        <div class="d-flex">
            <UserNav></UserNav>
            <LanguageSelector></LanguageSelector>
        </div>
    </div>
</template>

<script>
    import LanguageSelector from '../components/LanguageSelector'
    import UserNav from "../components/UserNav";
    export default {
        name: "TopBar",
        components: {UserNav, LanguageSelector},
    };
</script>
<style scoped>

</style>
