<template>
    <PrivateWrapper v-if="user !== null"></PrivateWrapper>
    <PublicWrapper v-else ></PublicWrapper>
</template>
<script>
    import { mapState } from 'vuex';
    import PublicWrapper from './PublicWrapper';
    import PrivateWrapper from './PrivateWrapper';

    export default {
        name: "App",
        components: { PrivateWrapper, PublicWrapper},
        // data() {
        //     return {
        //         user: localStorage.getItem('token'),
        //     }
        // },
        computed: {
            ...mapState(['user']),
        },
        mounted() {
            // console.warn('token:', localStorage.getItem('token'))
        }
    };
</script>

