<template>
    <div class="container-fluid p-0">
        <div class="row flex-nowrap m-0">
            <Sidebar></Sidebar>
            <main class="col ps-md-2 pt-2">
                <TopBar></TopBar>
                <hr style="margin-top: 0;"/>
                <router-view></router-view>
            </main>
        </div>
    </div>
</template>
<script>
    import LanguageSelector from "./components/LanguageSelector";
    import Sidebar from "./Views/Sidebar";
    import TopBar from "./Views/TopBar";
    export default {
        name: 'PrivateWrapper',
        components: {TopBar, Sidebar, LanguageSelector},
    };
</script>
