<template>
    <div>
        <router-view></router-view>
    </div>
</template>
<script>
    // import Home from "./Views/Home";
    // export default {
    //     components: { Home },
    // }
</script>
