@import "login.css";
@import "sidebar.scss";

.background-blur {
    //height: 100%;
    //background-image: linear-gradient(90deg, #cf4c2c 0%, #FFCB55 85%);
    //!*filter: blur(8px);*!
    //!*-webkit-filter: blur(8px);*!
}
