<template>
    <pre>{{ user }}</pre>
</template>

<script>
export default {
    name: "User",
    data() {
       return {
           user: null
       }
    },
    mounted() {
        axios.get('/user')
            .then(response => {
                this.user = response.data
            })
            .catch()
            .finally()
    }
}
</script>

<style scoped>

</style>
