.login-page {
    width: 300px;
    margin: 3em auto;
}

.sidebar-mini.sidebar-collapse .main-sidebar:hover {
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-sidebar .nav-link p,
.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .nav-sidebar .nav-link p {
  transition: 0.1s ease-in-out;
  transition-delay: 1s;
}

[class*=sidebar-dark-] .nav-sidebar > .nav-item.menu-open > .nav-link,
[class*=sidebar-dark-] .nav-sidebar .nav-item .nav-link:focus,
[class*=sidebar-dark-] .nav-treeview .nav-item .nav-link:focus {
  background-color: transparent !important;
}

[class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-link.active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.sidebar-menu i {
  color: #fff;
}

.xsb-logo {
  width: 30px;
  margin-left: 15px;
  margin-top: -3px;
}
